<!DOCTYPE html>
<html>
    <head>
        <title>Index</title>
        <meta charset="utf-8" />
    </head>
    <body>
        <center>
            <h1>Добро пожаловать в Twitter bot</h1>
            <p><b style="text-transform:uppercase;">Name:</b> {{name}}</p>
            <p><b style="text-transform:uppercase;">Username:</b> {{username}}</p>
            <p><b style="text-transform:uppercase;">App_ID:</b> {{id}}</p>
            {{!-- {{#each tokenSet}}
                <p><b style="text-transform:uppercase;">{{@key}}: </b>{{.}}</p>
            {{/each}} --}}
            {{!-- for (const [key, value] of Object.entries(tokenSet)) {
            console.log(`${key}: ${value}`);
            }
            <p>tokenSet: {{tokenSet}}</p> --}}
        </center>
    </body>
</html>